/*
============================================


Custom/Overide Bootstrap Styles
============================================

*/
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: white; }

a:hover {
  text-decoration: none; }

#brand-logo {
  /*make logo non draggable*/
  margin: auto;
  user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

#logo-row {
  background-color: lightblue; }

.thumbnail {
  margin-top: 30px !important;
  background-color: white; }

.addPadding {
  padding: 30px; }

footer {
  color: white;
  background-color: indianred; }

.site-header {
  background-color: white;
  border-radius: 9px;
  padding: 10px;
  background-color: indianred;
  color: white;
  box-shadow: 0px 10px 5px #888888;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center; }

.sub-header {
  text-decoration: underline; }

.img-thumbnail {
  margin-top: 20px !important;
  margin-bottom: 20px;
  background-color: white;
  padding-bottom: 40px; }

.data-icon, i[data-icon-type="facebook"], i[data-icon-type="instagram"], i[data-icon-type="phone"], i[data-icon-type="map-marker"] {
  font-size: 3em; }

i[data-icon-type="facebook"] {
  color: #0076B5; }

i[data-icon-type="instagram"] {
  color: #9b6954; }

i[data-icon-type="phone"] {
  color: #008504; }

i[data-icon-type="map-marker"] {
  color: indianred; }

.container {
  margin-bottom: 50px; }

.btn-primary {
  background-color: indianred;
  border: 1px solid indianred; }

.btn-primary:hover {
  background-color: indianred !important; }

/*
====================================================

ADMIN STYLES

====================================================
*/
#admin-logo {
  background-color: white;
  border: 1px solid lightgray; }

#menu-toggle {
  font-size: 1.5em;
  color: green; }

/*
====================================================

MENU STYLES

====================================================
*/
#menu li {
  display: inline;
  margin-left: 20px;
  font-size: 1.3em; }
  #menu li a {
    color: black; }
  #menu li a:hover {
    color: #0076B5;
    text-decoration: none; }

/*Initially hide toggle menu*/
.slicknav_menu {
  display: none; }

/*
====================================================

Tables STYLES

====================================================
*/
#schedule-header {
  text-align: center; }

/*
====================================================

Responsive STYLES

====================================================
*/
@media screen and (max-width: 450px) {
  #banner-container {
    display: none; } }

@media screen and (max-width: 625px) {
  #banner-container {
    background-image: url("../images/banner_sm.jpg"); }
  /*hide nav menu so slicknav can takeover*/
  #menu {
    display: none; }
  /*slicknav takeover*/
  .slicknav_menu {
    background-color: indianred !important;
    display: block; }
  .slicknav_menu li {
    text-align: center; } }
